<h1>Searches#result</h1>
<p>Find me in app/views/searches/result.html.erb</p>

<div class="container">
    <% @searches.each do |x| %>
        <%= x.name %>   |　
        <%= x.title %>　|  
        <%= content_tag(:span, truncate( 
            raw( sanitize(x.content, :tags => %w(table tr td), :attributes => %w(id class style) ) ),
             :length => 70, :omission => "...")) %>　|
        <%= x.created_at.in_time_zone("Asia/Seoul").strftime('%Y-%m-%d %H:%M') %>
        <hr/>
    <% end %>
</div>
